In [1]:
% run contactsScraper.py

Done
Done
KEYS
Done
Done
RECORDS COLLECTED
DATAFRAMES READY

In [2]:
a = OrgSession(orgRecords)

In [3]:
a1 = a.processSession('National Association for Multi-Ethnicity In Communications (NAMIC)')

In [4]:
a.anyQueryTimeouts()

False

In [5]:
a.orgSessionStatusCheck()

['Tue Oct 03, 2017  10:13:50', '12.554', 's', 'Good']

In [6]:
a.orgSessionStatusCheck()

['Tue Oct 03, 2017  10:13:50', '12.554', 's', 'Good']

In [7]:
a1

In [8]:
namicQuery = a1[0]

In [9]:
namicQuery

In [10]:
org = 'National Association for Multi-Ethnicity In Communications (NAMIC)'

## Start Here

In [11]:
contacts = cr[cr["Account Name"] == org]

In [12]:
contacts

,Account ID,Account Name,Contact ID,Contact Source,Email,First Name,Last Name,Mailing City,Mailing Country,Mailing State/Province,Mailing Street,Mailing Zip/Postal Code,Notes,Phone,Status,Title
3450,0010B00001liAqw,National Association for Multi-Ethnicity In Co...,0030B00001ueBfz,http://namic.com/the-team/,susan.waldman@namic.com,Susan,Waldman,New York,,NY,"50 Broad Street, Suite 1801",10004,,(646) 545-2508,,"Senior Manager, Membership and Publications"
3451,0010B00001liAqw,National Association for Multi-Ethnicity In Co...,0030B00001ueBhC,http://namic.com/the-team/,monique.wells@namic.com,Monique,Wells,New York,,NY,"50 Broad Street, Suite 1801",10004,,(646) 545-2509,,Director of Finance and Administration
3452,0010B00001liAqw,National Association for Multi-Ethnicity In Co...,0030B00001ueBew,http://namic.com/the-team/,darryl.jackson@namic.com,Darryl,Jackson,New York,,NY,"50 Broad Street, Suite 1801",10004,,(646) 545-2507,,"Manager, Mentoring Relations & Chapter Operations"

In [13]:
namicSoup = namicQuery.get_soup()

In [14]:
namicSource = namicQuery.get_pageSource()

In [16]:
import re

In [30]:
len(contacts)

3

## Pull Record Row

In [37]:
contacts.iloc[[2]]

,Account ID,Account Name,Contact ID,Contact Source,Email,First Name,Last Name,Mailing City,Mailing Country,Mailing State/Province,Mailing Street,Mailing Zip/Postal Code,Notes,Phone,Status,Title
3452,0010B00001liAqw,National Association for Multi-Ethnicity In Co...,0030B00001ueBew,http://namic.com/the-team/,darryl.jackson@namic.com,Darryl,Jackson,New York,,NY,"50 Broad Street, Suite 1801",10004,,(646) 545-2507,,"Manager, Mentoring Relations & Chapter Operations"

In [39]:
rec = contacts.loc[[3452]]

## Set Regex for LastName, FirstName and Title

In [48]:
firstNameReg = re.compile('^.*%s.*$' % rec['First Name'].to_string(index=False))
lastNameReg = re.compile('^.*%s.*$' % rec['Last Name'].to_string(index=False))
titleReg = re.compile('^.*%s.*$' % rec['Title'].to_string(index=False))

In [49]:
rec['Last Name'].to_string(index=False)

'Jackson'

In [50]:
'^.*%s.*$' % rec['Last Name'].to_string(index=False)

'^.*Jackson.*$'

In [51]:
mike = namicSoup.findAll(text=firstNameReg)

In [52]:
mike

['Darryl Jackson']

In [53]:
sam = namicSoup.findAll(text=lastNameReg)

In [17]:
reg = re.compile('^.*Eglon.*$')

In [18]:
namicSoup.findAll(text=reg)

['Eglon E. Simons']

In [19]:
namicSoup.findAll(text=reg)

['Eglon E. Simons']

In [20]:
namicSoup.findAll(text=reg)[0].parent

In [21]:
namicSoup(text=reg)

['Eglon E. Simons']

In [22]:
namicSoup(text=reg)[0].parent

In [23]:
titleReg = re.compile('^.*President and CEO.*$')

In [24]:
namicSoup(text=titleReg)

['President and CEO']

In [25]:
namicSoup(text=titleReg)[0].parent

In [26]:
type(namicSoup(text=titleReg)[0])

bs4.element.NavigableString

In [27]:
type(namicSoup(text=titleReg)[0].parent)

bs4.element.Tag

In [29]:
namicSoup(text=titleReg)[0].parent.parent.name

'div'

In [38]:
type(namicSoup(text=titleReg)[0].parent.parent)

bs4.element.Tag

In [44]:
firstNameReg = re.compile('^.*James.*$')
lastNameReg = re.compile('^.*Jones.*$')
altFirstNameReg = re.compile('^.*Eglon.*$')

In [48]:
firstNameElm = namicSoup(text=firstNameReg)[0]
lastNameElm = namicSoup(text=lastNameReg)[0]
altFirstNameElm = namicSoup(text=altFirstNameReg)[0]

In [49]:
firstNameElm is lastNameElm

True

In [50]:
altFirstNameElm is lastNameElm

False